# Communes
pynput>=1.7.6
pystray>=0.19.5
Pillow>=10.0.0
psutil>=5.9.0
customtkinter>=5.2.0

# Windows uniquement
pywin32>=305; sys_platform == 'win32'
keyboard>=0.13.5; sys_platform == 'win32'

# macOS uniquement (API Accessibility + CoreText)
pyobjc-framework-Cocoa>=9.0; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices>=9.0; sys_platform == 'darwin'
pyobjc-framework-CoreText>=9.0; sys_platform == 'darwin'
